/* stylelint-disable */
.login { 
  .logo {
    padding: 50px 0 40px 0;
    text-align: center;
    &__img {
      width: 125px;
      height: auto;
    }
  }
  .content {
    padding: 0 26px;
    .input-wrapper {
      height: 60px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px $color-b02;
      :global(.iconfont) {
        @include font-24;
      }
      .input-inner {
        flex: 1;
        height: 100%;
        margin-left: 20px;
        background-color: inherit;
        text-shadow: 0 0 0 $color-black;//文字颜色
        -webkit-text-fill-color: transparent;

        @include font-18;
        &:focus {
          color: $color-red;//光标颜色
        }
        &::-webkit-input-placeholder { //placeholder颜色
          color: $color-b03;
          text-shadow: none;
          -webkit-text-fill-color: initial;
        }
      }
    }
    .login-btn {
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin-top: 40px;
      margin-bottom: 30px;
      border-radius: 25px;
      background: linear-gradient(to right, $color-red, $color-dark_red);
      color: $color-white;
      @include font-20;
    }
    .forget {
      width: 100%;
      text-align: center;
      &__text {
        color: $color-grey;
        @include font-18;
      }
    }
  }
}

