.login{
  .header{
    height: 60px;
    background-color: $color-b01;
    padding: 0 20px;
    color:$color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__back{
      :global(.icon-back){
        @include font-22;
      }
      
    }
    &__title{
      @include font-26;
    }
  }
}