
.login{
  .header{
    height: 60px;
    background-color: #3b3e40;
    padding: 0 20px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__back{
      :global(.icon-back){
        font-size: 22px;
      }
    }
    &__title{
      font-size: 26px;
    }
  }
}