/* stylelint-disable */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  // word-wrap: break-word;
}
html,body{
  font-family: PingFangSC-Regular, 'Microsoft YaHei', STXihei,PingFangSC, Helvetica, Arial;
  width: 100%;
}

body {
  font-size: 14px;
}

ul,ol,li{
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  &.underline{
    text-decoration: underline;
  }
}
img{
  width: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

[v-cloak] {
  display: none;
}

@media (max-width: 768px) {
  html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
