/* stylelint-disable */

$color-white:#fff;
$color-black:#000;
$color-grey:#b7b6bc;
$color-red:#fe823a;
$color-dark_red:#ff3c66;
$color-b01:#3b3e40;
$color-b02:#d8d8d8;
$color-b03:#d1d1d4;
$color-b04:#6d6c74;
$color-b05:#e6e6e6;




